USE [bdLoteria]
GO
/****** Object:  Table [dbo].[registroIngreso]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registroIngreso](
	[id_registroIngreso] [int] NOT NULL,
	[id_dni] [int] NULL,
	[fechaIngreso] [datetime2](7) NULL,
 CONSTRAINT [PK_registroIngreso] PRIMARY KEY CLUSTERED 
(
	[id_registroIngreso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasarelaPago]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pasarelaPago](
	[id_pasarelaPago] [int] NOT NULL,
	[id_dni] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[monto] [float] NOT NULL,
 CONSTRAINT [PK_pasarelaPago] PRIMARY KEY CLUSTERED 
(
	[id_pasarelaPago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estadoCuenta]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estadoCuenta](
	[id_estadoCuenta] [int] NOT NULL,
	[id_dni] [int] NOT NULL,
	[saldoDisponible] [float] NULL,
 CONSTRAINT [PK_estadoCuenta] PRIMARY KEY CLUSTERED 
(
	[id_estadoCuenta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_dni] [varchar](20) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[tipoDocumento] [varchar](50) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[departamento] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[distrito] [varchar](50) NOT NULL,
	[codigoPostal] [varchar](50) NULL,
	[contrasena] [varchar](350) NOT NULL,
	[celular] [varchar](50) NOT NULL,
	[id_tipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_dni] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Usuario] ([id_dni], [nombres], [apellidos], [fechaNacimiento], [tipoDocumento], [email], [direccion], [departamento], [provincia], [distrito], [codigoPostal], [contrasena], [celular], [id_tipoUsuario]) VALUES (N'44094668', N'Nicolas', N'Escalante', CAST(0xBD120B00 AS Date), N'1', N'crey152@hotmail.com', N'santa maria 206', N'Cajamarca', N'Cajamarca', N'Cajamarca', N'060101', N'123456789', N'923167694', 1)
INSERT [dbo].[Usuario] ([id_dni], [nombres], [apellidos], [fechaNacimiento], [tipoDocumento], [email], [direccion], [departamento], [provincia], [distrito], [codigoPostal], [contrasena], [celular], [id_tipoUsuario]) VALUES (N'44699394', N'Ronny ', N'Chomba', CAST(0xBC120B00 AS Date), N'1', N'crey15@hotmail.com', N'jr baños del inca 214', N'Cajamarca', N'Cajamarca', N'Cajamarca', N'060101', N'12345678', N'976359272', 1)
/****** Object:  Table [dbo].[ubigeo_peru_provinces]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ubigeo_peru_provinces](
	[id] [varchar](4) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[department_id] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ubigeo_peru_provinces] ([id], [name], [department_id]) VALUES (N'0101', N'Chachapoyas', N'01')
INSERT [dbo].[ubigeo_peru_provinces] ([id], [name], [department_id]) VALUES (N'0102', N'Bagua', N'01')
INSERT [dbo].[ubigeo_peru_provinces] ([id], [name], [department_id]) VALUES (N'0103', N'Bongará', N'01')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ubigeo_peru_districts]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ubigeo_peru_districts](
	[id] [varchar](6) NOT NULL,
	[name] [varchar](45) NULL,
	[province_id] [varchar](4) NULL,
	[department_id] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ubigeo_peru_districts] ([id], [name], [province_id], [department_id]) VALUES (N'010101', N'Chachapoyas', N'0101', N'01')
INSERT [dbo].[ubigeo_peru_districts] ([id], [name], [province_id], [department_id]) VALUES (N'010102', N'Asunción', N'0101', N'01')
INSERT [dbo].[ubigeo_peru_districts] ([id], [name], [province_id], [department_id]) VALUES (N'010103', N'Balsas', N'0101', N'01')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
/****** Object:  Table [dbo].[ubigeo_peru_departments]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ubigeo_peru_departments](
	[id] [varchar](2) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ubigeo_peru_departments] ([id], [name]) VALUES (N'01', N'Amazonas')
INSERT [dbo].[ubigeo_peru_departments] ([id], [name]) VALUES (N'02', N'Áncash')
INSERT [dbo].[ubigeo_peru_departments] ([id], [name]) VALUES (N'03', N'Apurímac')
/****** Object:  Table [dbo].[tipoUsuario]    Script Date: 09/20/2024 18:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipoUsuario](
	[id_tipoUsuario] [int] NULL,
	[descripcion] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_verificarExistenciaEmail]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_verificarExistenciaEmail](
     @email VARCHAR(150)     
)
as
BEGIN
    
        select COUNT(*) 
        from Usuario 
        where email= @email
        
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_verificarExistenciaDni]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_verificarExistenciaDni](
     @id_dni VARCHAR(20)     
)
as
BEGIN
    
        select COUNT(*) 
        from Usuario 
        where id_dni= @id_dni
        
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_traerTipoUsuario]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_traerTipoUsuario] 
as
BEGIN
    
    select * from tipoUsuario
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nuevoRegistroIngreso]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_nuevoRegistroIngreso](
     @id_dni VARCHAR(20),
     @fechaIngreso datetime2(7)
)
as
BEGIN
    
        -- Insertar el nuevo usuario
        INSERT INTO registroIngreso (id_dni,fechaIngreso )
        VALUES (@id_dni,@fechaIngreso);
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nuevaPasarelaPago]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_nuevaPasarelaPago](@id_dni int,
     @estado varchar(50),
     @monto float)
as
BEGIN
    
    insert into pasarelaPago(id_dni,estado,monto) values (@id_dni,@estado,@monto)
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarEstadoCuenta]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_modificarEstadoCuenta](
     @id_dni VARCHAR(20),
     @nuevoMonto float     
)
as
BEGIN
    
        
        update estadocuenta
        set
        saldoDisponible=@nuevoMonto
        where id_dni=@id_dni;
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listarUsuario]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listarUsuario] 
AS
BEGIN
	
	SET NOCOUNT ON;

    
	SELECT * from Usuario 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_crearUsuarioNuevo]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crearUsuarioNuevo](
     @id_dni VARCHAR(20),
     @nombres VARCHAR(100),
     @apellidos VARCHAR(100),
     @fechaNacimiento DATE,
     @tipoDocumento VARCHAR(50),
     @email VARCHAR(150),
     @direccion VARCHAR(150),
     @departamento VARCHAR(50),
     @provincia VARCHAR(50),
     @distrito VARCHAR(50),
     @codigoPostal VARCHAR(50),
     @contrasena VARCHAR(350),
     @celular VARCHAR(50),
     @id_tipoUsuario int
)
as
BEGIN
    
        -- Insertar el nuevo usuario
        INSERT INTO usuario (id_dni, nombres,apellidos,fechaNacimiento,tipoDocumento,email,
        direccion,departamento,provincia,distrito,codigoPostal,contrasena,celular,id_tipoUsuario)
        VALUES (@id_dni,@nombres,@apellidos,@fechaNacimiento,@tipoDocumento,@email,
        @direccion,@departamento,@provincia,@distrito,@codigoPostal,@contrasena,@celular,@id_tipoUsuario);
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consultaEstadoCuenta]    Script Date: 09/20/2024 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_consultaEstadoCuenta](
     @id_dni VARCHAR(20)     
)
as
BEGIN
    
        
        select saldoDisponible from estadoCuenta where id_dni=@id_dni;
    
END
GO
/****** Object:  Default [DF__ubigeo_per__name__060DEAE8]    Script Date: 09/20/2024 18:08:07 ******/
ALTER TABLE [dbo].[ubigeo_peru_districts] ADD  DEFAULT (NULL) FOR [name]
GO
/****** Object:  Default [DF__ubigeo_pe__provi__07020F21]    Script Date: 09/20/2024 18:08:07 ******/
ALTER TABLE [dbo].[ubigeo_peru_districts] ADD  DEFAULT (NULL) FOR [province_id]
GO
/****** Object:  Default [DF__ubigeo_pe__depar__07F6335A]    Script Date: 09/20/2024 18:08:07 ******/
ALTER TABLE [dbo].[ubigeo_peru_districts] ADD  DEFAULT (NULL) FOR [department_id]
GO
